.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

/* .place-order-left {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
} */

.place-order-left .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.multi-fields {
    margin-bottom: 10px;
}

.multi-fields input {
    margin-bottom: 5px;
    padding: 8px;
    width: calc(50% - 10px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.multi-fields input:last-child {
    margin-right: 0;
}

.place-order-right {
    flex: 1;
    padding: 10px;
}

.cart-total {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cart-total h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart-total-details p {
    font-size: 0.9rem;
    color: #666;
}

.cart-total-details b {
    font-size: 1rem;
    color: #333;
}