/* Default styles */
.footer {
    margin-top: 100px;
    color: #faf2f2;
    background-color: rgb(116, 76, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-top: 80px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    max-width: none;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    margin-bottom: 10px;
    list-style: none;
    cursor: pointer;
    flex-wrap: wrap;
}

.footer-content-right h2,
.footer-content-center h2 {
    color: #faf2f2;
    margin-bottom: 10px;
}

.footer-social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-social-icons img {
    width: 40px;
    cursor: pointer;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #faf2f2;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center {
        align-items: center;
        text-align: center;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center h2 {
        margin-bottom: 0;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}